.big-container{
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    grid-template-rows: 20% 80%;
}
.Category-product-title{
    grid-area: 1/1/1/4 ;
    font-size: 2rem;
    padding-left: 30px;
    padding-bottom: 50px;
    font-weight: 600;
    margin: 1rem 0;
}
.Category-product-finance{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;

    
}
.Category-product-action{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
}
.Category-product-action > button{
    margin: 1rem 0;
    width: 80%;
    padding: 1rem 0;
    border: none;
    background-color: #514F59;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
     
    
}
.Category-product-stock{
    
    background-color: #514F59;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;



    
}
.Category-product-price{
    padding: 10px;
}