:root{
  --Body-background-color:#D4ADFC;
  --gameboard-background-color:#5C469C;
  --gameboard-border-color:#1D267D;

}
body {
background-color: var(--Body-background-color);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containerapp{
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50%;
  top:10%;
  margin-left: -400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gamecircle{
  border: 4px solid black;
  border-radius: 50%;
  margin: 10px;


}
.gameboard{
  position: absolute;
  left: 25%;
  top: 25%;
  border: 8px solid var(--gameboard-border-color);

  border-radius: 8%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 400px;
  width: 400px;
  background-color: var(--gameboard-background-color);
  
}
.noplayer{
  background-color: white;
}
.player_1{
  background-color: blue;
}
.player_2{
  background-color: red;
}